*{
    margin: 0px;
    padding: 0px;
}

.bloco{
    padding: 15px;
    margin: 15px;
    width: fit-content;
}

#bloco-1{
    border: 5px solid orange;  
    background-color: rgba(233, 159, 23, 0.791);
    color: white;
    padding: 10px;
}

#bloco-2{
    border: 5px solid rgba(34, 106, 34, 0.673);  
    background-color: rgba(36, 137, 53, 0.791);
    color: white;
    padding: 10px;
}

#bloco-3{
    border: 5px dashed lightgreen ; 
    background-color: rgba(20, 56, 26, 0.791);
    color: white;
    padding: 10px;
}

#bloco-4{
    border: 5px dashed rgb(229, 122, 122); 
    background-color: rgba(227, 3, 3, 0.899);
    color: white;
    padding: 10px;
}

main{
    font-family: Helvetica;
}